.header{
    display: flex;
    position: relative;
}


.header.sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: tomato;
    padding: 30px 0;
}

h1{
    display: flex;
}
/*
input {
    display: flex;
    justify-content: center;
    margin-left: 600px;

}

 */


.choose-chassis-number-damage{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 40px;
    margin: 2.5% 50% 1%;

}

.form-purchase-car{
    display: flex;
    flex-direction: column;
}

.tabel {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
}

.whiteboard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    padding-top: 100px;
    padding-bottom: 5px;
}


