<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" href="@{style.css}"  type="text/css">
    <link rel="stylesheet" href="@{fragment.css}"  type="text/css">
</head>
<body>
<br>

<nav id="navigator">
    <!--Side navigator -->
    <section class="section 1">

        <nav class="side-nav">

            <div class="nav-valg ">
                <a href="/">
                    <img id="home"  src="static/vedvesterhavetsogs.png">
                </a>
            </div>


            <div class="nav-valg ">
                <a href="">Den store dag</a>

            </div>

            <br>

            <div class="nav-valg">
                <a href="">Ønsker</a></div>

            <br>

            <div class="nav-valg">
                <a href="">Praktisk</a>
                     </div>

            <div class="nav-valg">
                <a href="/addwish">🔒</a>
            </div>

        </nav>

    </section>

    <section class="board">

        <div class="logo">
            <img id="logo"  src="">
        </div>

    </section>
</nav>

</body>
</html>