<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VI SKAL GIFTES!🤵🏼‍️👰🏼‍‍️‍️‍️‍️️‍️️️️</title>
    <link rel="stylesheet" th:href="@{fragments.css}" href="/static/style.css">
    <link rel="stylesheet" th:href="@{stylefrag.css}" href="/static/style.css">
</head>


<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<br>

<div class="whiteboard">
    <h1>VI SKAL GIFTES</h1>
    <div class="information_div">
        På denne side vil vi gerne give jer nogle tips:

        TIP #1
        Til dig/jer der kommer langvejs fra eller blot skal bruge et godt hotel i nærheden anbefaler vi at i booker værelse på XXXXXXXXXXX.

        TIP #2
        Får du/i brug for offentlig transport mod København eller Helsingør ligger kystbanen blot et stenkast fra festen.

        TIP #3
        Bliver man forhindret i at møde op i kirken, serveres hovedretten cirka kl 19.00.

        TIP #4
        Ønsker du/i istedet at overnatte på brudens barndomsværelse på loftet stiller vi madrasser tilrådighed.

        TIP #5
        Hedder du Hanne, Jytte eller Jørgen kan der arrangeres overnatning på Torpenvej 17A.

    </div>

</div>


</body>
</html>
